header{
	margin:0;
}
body{
	color: black;
	background-color:#dcdcdc;
	margin-top: 75px;
	font-size:1.5vw;
}

* {
  box-sizing: border-box;
}

.search-box{
padding: 10px;
padding-left:5%
}

.text-box{
border: black;
width: 100 px; 

}

	/* Create two equal columns that floats next to each other */
	.column {
	  float: right;
	  width: 45%;
	  padding-left: 10px;
	  padding-right:10px;
	  color:black;
	  /*height: 300px; /* Should be removed. Only for demonstration */
	  margin-left: 10px;
	  margin-right: 10px;
	  margin-top:10px;
	  border: solid;
	  border-color:#800000;
	  /*border-top:none;
	  border-bottom-left-radius: 25px;
	  border-bottom-right-radius:25px;
	  */
	  border-radius:25px;
	  background-color: white;
	  height:75vh;
	  overflow:auto;
	}

	/* Scrollbar styles */
	::-webkit-scrollbar {
	width: 12px;
	height: 12px;
	}

	::-webkit-scrollbar-track {
	}

	::-webkit-scrollbar-thumb {
	background: #7a7a7a;  
	border-radius: 10px;
	}

	::-webkit-scrollbar-thumb:hover {
	background: #626262;  
	}


	.text_column {
	  float: left;
	  font-size:1.75vw;
	  width: 45%;
	  /*height: 300px; /* Should be removed. Only for demonstration */
	  margin-left: 20px;
	  border: none;
	}
	/* Clear floats after the columns */
	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}
	.sql_text{
	color:black;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	}
	.indent{
		padding-left:10%;
	}
th, td {
  padding: 5px;
}
table{
	width:100%;
	border-collapse:collapse;
}
a{
	text-decoration:none;
	color :#F7C55A;
}

h1, h2{
    font-family: 'Nanum Gothic', sans-serif;
}

h1{
	font-size: 3.5vw;
}

h3, p{
	font-family: 'Roboto', sans-serif;
	color: black;
	font-size: 2vw;
	
}

p{
	font-family: 'Roboto', sans-serif;
	color: black;
	font-size: 2vw;
}

h4{
	font-family: 'Roboto';
	font-style: "light";
	color: black;
	font-size: 25px;
}

#container {
  margin-top: 20px;
  position: relative;
}
form{
margin-top:20px;
}
input[type=text]{
margin-bottom:15px;
border-radius:10px;
height:40px;
padding-top:5px;
font-size:20px;
}



.weekDays-selector input {
  display: none!important;
}

.weekDays-selector input[type=radio] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 35px;
  margin-bottom:10px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=radio]:checked + label {
  background: #2AD705;
  color: #ffffff;
}

.time-selector input {
  display: none!important;
}

.time-selector input[type=radio] + label {
  display: inline-block;
  border-radius: 50px;
  background: #dddddd;
  height: 40px;
  width: 50px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.time-selector input[type=radio]:checked + label {
  background: #2AD705;
  color: #ffffff;
}

