header{
	margin:0;
}

body{
	color: black;
	background-color: white;
	margin-top: 75px;
	font-size:1.5vw;
}

* {
  box-sizing: border-box;
}

.search-box{
  padding: 10px;
  padding-left: 5%;
}

.text-box{
  border: black;
  width: 100 px; 

}

	/* Create two equal columns that floats next to each other */
	.column {
	  float: right;
	  width: 45%;
	  padding-left: 10px;
	  padding-right:10px;
	  color:black;
	  margin: 10px;
	  border: solid;
	  border-color:#800000;
	  border-radius:25px;
	  background-color: white;
	  height:75vh;
	  overflow: auto;
	}

	.colContent{
		padding: 20px;
		overflow-x: hidden;
  		overflow-y: scroll;
	}

	/* Scrollbar styles */
	::-webkit-scrollbar {
	width: 12px;
	height: 12px;
	}

	::-webkit-scrollbar-track {
	}

	::-webkit-scrollbar-thumb {
  	background: #7a7a7a;  
  	border-radius: 10px;
	}

	::-webkit-scrollbar-thumb:hover {
	background: #626262;  
	}


	.text_column {
	  float: left;
	  font-size:1.75vw;
	  width: 45%;
	  /*height: 300px; /* Should be removed. Only for demonstration */
	  margin-left: 20px;
	  border: none;
    overflow: hidden;
	}

  .scroll_bar{
    overflow: auto;
  }
	/* Clear floats after the columns */
	.row:after {
	  content: "";
	  display: table;
	  clear: both;
	}
	.sql_text{
	color:black;
	font-family:"Trebuchet MS", Helvetica, sans-serif;
	}
	.indent{
		padding-left:10%;
	}

th, td {
  padding: 5px;
}

table{
	width:100%;
	border-collapse:collapse;
}

a{
	text-decoration:none;
	color :#F7C55A;
}

h1, h2{
  font-family: 'Open Sans', sans-serif;
}

h1{
	font-size: 3.5vw;
}


p{
	font-family: 'Catamaran', sans-serif;
	color: black;
	font-size: 2vw;
}

h4{
	
	color: black;
	font-size: 25px;
}

#container {
  margin-top: 20px;
  position: relative;
}

form{
  margin-top:20px;
}

input[type=text]{
  margin-bottom:15px;
  border-radius:10px;
  height:40px;
  padding-top:5px;
  font-size:20px;
}

li{

  font-family: 'Catamaran', sans-serif;
  padding: 5px;
  color: #F7C55A;

}

.weekDays-selector input {
  display: none!important;
}

.weekDays-selector input[type=radio] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 5vh;
  width: 2.5vw;
  margin-bottom:10px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.weekDays-selector input[type=radio]:checked + label {
  background: #2AD705;
  color: #ffffff;
}

.time-selector input[type=checkbox] + label {
  display: inline-block;
  border-radius: 6px;
  background: #dddddd;
  height: 40px;
  width: 35px;
  margin-bottom:10px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.time-selector input[type=checkbox]:checked + label {
  background: #2AD705;
  color: #ffffff;
}

.time-selector input {
  display: none!important;
}

.time-selector input[type=radio] + label {
  display: inline-block;
  border-radius: 50px;
  background: #dddddd;
  height: 40px;
  width: 50px;
  margin-right: 3px;
  line-height: 40px;
  text-align: center;
  cursor: pointer;
}

.time-selector input[type=radio]:checked + label {
  background: #2AD705;
  color: #ffffff;
}
.button1 {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.4s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.container {
  display: grid;
  grid-gap: 10px;
  margin: 50px;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: 250px;
}
.containertext {
  position: relative;
}
.cell {
  color: black;
  padding: 5px;
  font-size: 3vw;
  text-align:center;
}
.cell-sessions-1{
  background-color: #b5b5b5;
}
.cell-sessions-2{
  background-color: #b5b5b5;
}
.cell-sessions-3{
  background-color: #b5b5b5;
}
.cell-sessions-1:hover {
  opacity: 1;
}
.cell-sessions-2:hover {
  opacity: 1;
}
.cell-sessions-3:hover {
  opacity: 1;
}
.middle{
  transition: .5s ease;
  opacity: 0;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}
.cell-sessions-1:hover .middle{
  opacity: 1;
}
.cell-sessions-2:hover .middle{
  opacity: 1;
}
.cell-sessions-3:hover .middle{
  opacity: 1;
}
.text {
  background-color: #4CAF50;
  color: white;
  font-size: 16px;
  padding: 16px 32px;
}
